<div class="container" style="max-width: 100%">

    <!-- *********************************** -->
    <!-- ============ DASHBOARD ============ -->
    <!-- *********************************** -->
    <h1 class="my-4 text-center">Welcome, {{username}}</h1>

    <div class="row mb-5">
        <!-- Notifications -->
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Notifications</h1>
                    <!-- Requets Received -->
                    <h6 class="card-subtitle mb-2 text-muted mt-3">Requests Received</h6>
                    <ul class="list-group">
                        {{#each requesters}}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                            <b>{{this.username}}</b>
                            <a href="/dashboard/accept/{{this.id}}" id="accept"><button type="button" class="btn btn-primary btn-sm" data-user-id="{{this.id}}">Accept</button></a>
                            <a href="/dashboard/deny/{{this.id}}" id="deny"><button type="button" class="btn btn-primary btn-sm">Deny</button></a>
                            </li>
                        {{/each}}
                    </ul>
                    <!-- Requests Sent -->
                    <h6 class="card-subtitle mb-2 text-muted mt-3">Requests Sent</h6>
                    <ul class="list-group">
                        {{#each requestees}}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                            <b>{{this.username}}</b>
                            <a href="/dashboard/cancel/{{this.id}}" id="cancel"><button type="button" class="btn btn-secondary btn-sm">Cancel</button></a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Friends</h1>
                    <ul class="list-group">
                        {{#each friends}}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <b>{{this.username}}</b>
                            <a href="/dashboard/unfriend/{{this.id}}" id="unfriend"><button type="button" class="btn btn-primary btn-sm">Unfriend</button></a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Search</h1>
                    <div class="form-group">
                        <label class="col-form-label col-form-label-lg" for="inputLarge">Find Friend</label>
                        <input class="form-control form-control-lg" type="text" placeholder="Enter username" id="search-input">
                    </div>
                    <button type="button" class="btn btn-secondary btn-md" id="search">Search</button>
                    <ul class="list-group my-3" id="friend-found">
                        {{!-- Friend will appear here if found --}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Study Guides</h1>
                    <ul class="list-group">
                        {{#each guides}}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <b>{{this.name}}</b>
                            <a href="/dashboard/delete/guide/{{this.id}}" id="delete-guide"><button type="button" class="btn btn-primary btn-sm">Remove</button></a>
                        </li>
                        {{/each}}
                    </ul>
                    <a href="/dashboard/create/guide"><button type="button" class="btn btn-primary btn-md">Create</button></a>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Study Groups</h1>
                    <ul class="list-group">
                        {{#each groups}}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <b>{{this.name}}</b>
                            <a href="/dashboard/delete/group/{{this.id}}" id="delete-group"><button type="button" class="btn btn-primary btn-sm">Remove</button></a>
                        </li>
                        {{/each}}
                    </ul>
                    <a href="/dashboard/create/group"><button type="button" class="btn btn-primary btn-md">Create</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Sessions</h1>
                    <div class="row">
                        
                        {{#each sessions}}
                        <div class="col-4">
                            <div class="card mb-3">
                                <h5 class="card-header">{{this.name}}</h5>
                                <div class="card-body">
                                    <a href="/dashboard/session/{{this.userId}}/{{this.id}}"><button type="button" class="btn btn-secondary">Start</button></a>
                                    <a href="/dashboard/delete/session/{{this.id}}" id="delete-session"><button type="button" class="btn btn-secondary">Delete</button></a>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Study Guide: <span class="badge badge-primary">{{this.guideName}}</span>
                                    </li>
                                    <li class="list-group-item">Group: <span class="badge badge-primary">{{this.groupName}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {{/each}}
                        
                    </div>
                    <a href="/dashboard/create/session"><button type="button" class="btn btn-primary btn-md">Create</button></a>
                </div>
            </div>
        </div>
    </div>
</div>